

.heading-lines{
    width:60px;
    background: #FBD784;
    height:1px;
    position: absolute;
   margin-top:1%;
  
}
.get-started-heading-holder{
padding-left:15%;
padding-top:10%;


   
}
.get-started-heading{
    display: flex;
    align-items: stretch;
    gap:12%;
    

}
.page-number-hiking{
    font-size: 6em;
    color: #FFFFFF;
    z-index: 1;
    opacity: 0.1;
    position: absolute;
  top:3%;
  left:47%;
  font-weight:700;
}

.img-holder-hiking img{

    width:60%; 
    padding-left: 10%;
    padding-top:10%;
}
.Learn-More{
    color: #FBD784;

}
.get-started-content-wapper{
    position: relative;
}
@media only screen and (min-width: 1390px) {
    .page-number-hiking{
      
      top:10%;
      position: absolute;
      left:48%;
    
    }

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .get-started-content-wapper{
       font-size:0.7em;
    }
    .page-number-hiking{
        position:absolute;
        left:9%;
        top:0%;
    }
    .heading-lines{
        width:8%;
        margin-top:1.7%;
    }
      .text-holder{
        position: absolute;
      }
      .img-holder-for-top{
        margin-top:54%;
      }
      .img-holder-for-top img{
        width:90%;
      }
    
}


@media only screen and (min-width: 600px) {

 .page-number-hiking{
     position:absolute;
     left:9%;
     top:0%;
 }
 .heading-lines{
     width:8%;
     margin-top:0%;
 }
   .text-holder{
     position: absolute;
   }
   .img-holder-for-top{
     margin-top:52%;
   }
   .img-holder-for-top img{
     width:90%;
     
   }
 
}
@media only screen and (min-width: 768px) {
  .page-number-hiking{
    position:absolute;
    left:45%;
    top:0%;
}
.heading-lines{
    width:5%;
    margin-top:1.4%;
}
  .text-holder{
    position:static;
  }
  .img-holder-for-top{
    margin-top:0%;
  }
  .img-holder-for-top img{
    width:100%;
    
  }
}
@media only screen and (min-width: 1200px) {
  .get-started-headin{
    margin-left:10px;
    font-size:1em;
  }
  .heading-lines{
    width:40px;   
   margin-top:1%;
   left:53%;
  
}
.page-number-hiking{
  position:absolute;
  left:48%;
  top:2%;
}
}