* {
  color: white;
  z-index: 1;
}

.nav-group-holder ul {
  display: flex;
  list-style: none;
  gap: 12%;
}
.account-nav-holder ul {
  display: flex;
  list-style: none;
  gap: 8%;
  margin-left: 60%;
}
.nav-holder-wapper {
  background: linear-gradient(-0deg, rgba(3, 7, 9, 0) -3.06%, #0e1318 200.93%);
}
.logo img {
  width: 70px;
}

.imgs-social-holder img {
  width: 30px;
}

.heading-lines-hiking {
  width: 30px;
  background: #fbd784;
  height: 1px;
  position: absolute;
  margin-top: 1%;
}
.get-started-heading-home {
 
  align-items: stretch;
  gap:10%;
}
.get-started-heading-home p {
  color: #fbd784;

}
.home-pages-number-holder {
  width: 50px;
  margin-left: 60px;
  border-right: 1px solid rgb(201, 199, 199);
}
.follow {
  transform: rotate(90deg);
  position: absolute;
  left: 65px;
}

.body-content-wapper {
  padding-top: 9%;
  padding-left: 6%;
  color: rgb(255, 255, 255);
}
.start {
  border-right: 2px solid white;
}
.imgs-social-holder img {
  z-index: 1;
}

.insta {
  margin-top: 12%;
}
.nav-holder-group {
  padding: 3%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nav-group-holder {
    display: none;
  }
  .container-menu {
    display: inline;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .nav-group-holder ul li:hover {
    border-bottom: 2px solid #0e1318;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  .account-nav-holder ul {
    position: absolute;
    right: 10px;
    top: 16px;
    font-size: 1em;
  }
  .logo img {
    margin-left: 40%;
  }

  .follow {
    transform: rotate(90deg);
    position: absolute;
    font-size: 10px;
    top: 49%;
    left: 1%;
  }
  .imgs-social-holder img {
    width: 10px;
    top: 75%;
    left: 3%;
    position: absolute;
  }

  .insta {
    margin-top: 3%;
  }

  .home-pages-number-holder {
    position: absolute;
    top: 47px;
    right: 20px;
    font-size: 7px;
    width: 25px;
    height: 90px;
  }

  .heading-lines-hiking {
    height: 1px;
    position: absolute;
    top:18%;
    left:-5%;
    background: #fbd784;
    height: 1px;
    width:20px;
  }
  .get-started-heading-home {
    position: absolute;
    top: 48%;
    width: 90%;
    left: 25%;
  }
  .headin-holder-top {
    font-size: 1em;
    position: absolute;
    top: 70%;
    left: 30%;
  }
  .heADING-font {
    font-size: 0.9em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .nav-group-holder {
    display: none;
  }
  .container-menu {
    display: inline;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  .account-nav-holder ul {
    position: absolute;
    right: 10px;
    top: 16px;
    font-size: 1em;
  }
  .logo img {
    margin-left: 40%;
  }

  .follow {
    transform: rotate(90deg);
    position: absolute;
    font-size: 10px;
    top: 49%;
    left: 1%;
  }
  .imgs-social-holder img {
    width: 10px;
    top: 75%;
    left: 3%;
    position: absolute;
  }

  .insta {
    margin-top: 3%;
  }

  .home-pages-number-holder {
    position: absolute;
    top: 47px;
    right: 20px;
    font-size: 7px;
    width: 25px;
    height: 90px;
  }
 .heading-lines-hiking {
    left:-30%;
    top:10px;

  } 
  .get-started-heading-home {
    position: absolute;
    top:55%;
    left:35%;
  }
  .headin-holder-top {
    font-size: 1em;
    position: absolute;
    top: 70%;
    left: 30%;
  }
  .heADING-font {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 768px) {
  .logo img {
    margin-left: 119%;
  }
  .follow {
    font-size: 1em;
    top: 49%;
    left: 1%;
  }
  .imgs-social-holder img {
    width: 1em;
    top: 78%;
    left: 3%;
    position: absolute;
  }

  .container-menu {
    left: 24px;
  }
  .heADING-font {
    font-size: 1.4em;
  }
  .home-pages-number-holder {
    font-size: 10px;
    width: 28px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container-menu {
    display: none;
  }
  .logo img {
    margin-left: 0%;
  }
  .nav-group-holder {
    display: block;
    width: 100%;
  }

  .home-pages-number-holder {
    top: 70px;
    right: 20px;
    font-size: 12px;
    width: 35px;
    height: 95px;
  }

  /* .heading-lines-hiking {
    top: 12%;
    left: 8%;
  } */
  .get-started-heading-home {
    top: 58%;
  }

  .heADING-font {
    font-size: 2em;
  }
}
@media only screen and (min-width: 1200px) {
    .heADING-font {
        font-size: 2.3em;
      }
      .home-pages-number-holder {
        top: 70px;
        right: 30px;
        font-size:1.2em;
        width: 55px;
        height: 150px;
      }
      .follow {
        font-size: 1.2em;
        top:59%;
        left: 1%;
      }
      .imgs-social-holder img {
        width:1.2em;
        top:88%;
        left:2.4%;
     
      }
      /* .heading-lines-hiking {
        background: #fbd784;
        width: 30px;
        position: absolute;
        margin-top:8%;
      right:10%;
      } */
}